<nav
    class="Header js-details-container px-3 px-md-4 px-lg-5 flex-wrap flex-md-nowrap"
    :class="{ 'Header--open': isOpen, 'Header--closed': !isOpen, 'sticking' : sticking }"
    x-data="{ sticking: true, lastScrollTop: 0, isOpen: false, scrollTop: window.pageYOffset }"
    @keydown.escape="isOpen = false"
    @click.away="isOpen = false"
    @scroll.window="scrollTop = window.pageYOffset; sticking = scrollTop < lastScrollTop ? true: false; lastScrollTop =
        scrollTop">
    <!--Logo etc-->
    <div class="Header-item Header-item--full flex-justify-start flex-items-start position-relative">
        <a href="/" class="">
            Logo</a>
    </div>
    <!--Toggle button (hidden on large screens)-->
    <button
        @click="isOpen = !isOpen"
        type="button"
        class="Header-item Header-link js-details-target btn-link mr-0 flex-items-start d-sm-none"
        :class="{ '': isOpen }"
        aria-label="Menu">
        <svg
            class=""
            :class="{ 'd-none': isOpen }"
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 20 20"
            height="32px"
            width="32px"
            xmlns="http://www.w3.org/2000/svg">
            <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1
                    1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
        </svg>
        <svg
            class=""
            :class="{ 'd-none': !isOpen }"
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 20 20"
            height="32px"
            width="32px"
            xmlns="http://www.w3.org/2000/svg">
            <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10
                    11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
    </button>
    <!--Menu-->
    {% if navigation.items %}
        <ul
            class="list-style-none Header-item Header-menu flex-column flex-sm-row mr-0 mt-3 mt-sm-0"
            :class="{ 'width-full': isOpen, 'hide-sm': !isOpen }"
            x-show.transition="true">
            {% for item in navigation.items %}
                <li class="Header-item">
                    <a @click="isOpen = false" class="Header-link" href="{{ item.url }}">{{ item.text }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>